<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>{{ t('custom_values.list.title') }}</v-toolbar-title>
      <v-spacer />
      <v-select
        v-model="currentCustomValue"
        :label="t('custom_values.selectCode')"
        :item-title="(item) => item.code + ' - ' + item.description"
        item-value="code"
        :return-object="true"
        :items="customValues"
        hide-details
        dense
      />
      <v-btn
        prepend-icon="mdi-plus"
        size="large"
        class="pr-1"
        @click="addNewCustomValues"
      >
        <v-tooltip
          activator="parent"
          location="top"
        >
          {{ t("custom_values.new") }}
        </v-tooltip>
      </v-btn>
    </v-toolbar>
    <v-container fluid>
      <v-form
        v-if="currentCustomValue"
        ref="customValueForm"
        v-model="valid"
        @submit.prevent="save"
      >
        <v-container fluid>
          <v-row>
            <v-col md="2">
              <v-text-field
                v-model="currentCustomValue.code"
                data-vv-name="code"
                :label="t('custom_values.code')"
                :rules="[checkRequired(), checkMaxLength(64)]"
                :readonly="!!code"
                dense
              />
            </v-col>
            <v-col md="6">
              <v-text-field
                v-model="currentCustomValue.description"
                data-vv-name="description"
                :label="t('custom_values.description')"
                :rules="[checkRequired(), checkMaxLength(255)]"
                dense
              />
            </v-col>
            <v-col md="2">
              <v-switch
                v-model="currentCustomValue.isActive"
                data-vv-name="isActive"
                :label="t('custom_values.isActive')"
                :true-value="true"
                :false-value="false"
                dense
              />
            </v-col>
            <v-col md="2">
              <v-btn
                type="submit"
                prepend-icon="mdi-check"
                class="h-56-px w-100"
              >
                <v-tooltip
                  activator="parent"
                  location="top"
                >
                  {{ t("common.save") }}
                </v-tooltip>
                {{ t("common.save") }}
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card
        v-if="code"
        fluid
      >
        <v-tabs v-model="currentTab">
          <v-tab value="schema">
            {{ t("custom_values.schema.title") }}
          </v-tab>
          <v-tab value="items">
            {{ t("custom_values.items.title") }}
          </v-tab>
        </v-tabs>
        <v-tabs-window
          v-if="currentCustomValue"
          v-model="currentTab"
        >
          <v-tabs-window-item
            value="schema"
            eager
          >
            <custom-value-schema
              :code="code"
            />
          </v-tabs-window-item>
          <v-tabs-window-item
            value="items"
            eager
          >
            <custom-value-items
              :code="code"
            />
          </v-tabs-window-item>
        </v-tabs-window>
      </v-card>
    </v-container>
  </v-card>
</template>

<route lang="yaml">
  meta:
    layout: navigable
  </route>

<script setup lang="ts">
import { httpAuth } from '@/helpers/http';
import { useNotificationsStore } from '@/stores/notifications';
import { computed } from 'vue'
import { useI18n } from 'vue-i18n';
import type { VForm } from 'vuetify/components';
import { checkRequired, checkMaxLength } from '@/helpers/validation';
import type { CustomValue } from '@/models/custom_value';

const { t } = useI18n();
const notify = useNotificationsStore();

const currentTab = ref(null);
const currentCustomValue: Ref<CustomValue | null> = ref(null);
const isEditingNew = ref(false);
const customValues: Ref<Array<CustomValue>> = ref([]);
const busy = ref(false);
const valid = ref(null);
const customValueForm = ref<InstanceType<typeof VForm> | null>(null);

const code = computed(() => {
  return currentCustomValue.value && !isEditingNew.value
    ? currentCustomValue.value.code
    : null;
});

await loadCustomValues(true);

async function loadCustomValues(applyFirstItem: boolean) {
  if (busy.value) return;

  busy.value = true;
  try {
    const { data } = await httpAuth.get("custom-values/all");
    if (data) {
      customValues.value = data;
      if (applyFirstItem && customValues.value.length > 0) {
        currentCustomValue.value = customValues.value[0];
      }
    }
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}

function addNewCustomValues() {
  currentCustomValue.value = { id: null, code: null, description: null, schema: [], items: [], isActive: true };
  isEditingNew.value = true;
}

async function save() {
  if (busy.value || !customValueForm.value?.validate()) return;

  busy.value = true;

  try {
    if (currentCustomValue.value?.id && currentCustomValue.value?.id > 0) {
      await httpAuth.patch("custom-values/update/" + currentCustomValue.value.id, currentCustomValue.value);
    } else {
      await httpAuth.post("custom-values/create", currentCustomValue.value);
    }
    notify.success(t("common.itemSuccessfullySaved"));
    isEditingNew.value = busy.value = false;
    await loadCustomValues(false);
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}
</script>
