<template>
  <v-empty-state
    :headline="t('pageNotFound.headline')"
    :title="t('pageNotFound.title')"
    :text="t('pageNotFound.text')"
    :action-text="t('pageNotFound.actionText')"
    @click:action="() => router.replace({ name: '/'})"
  />
</template>

<route lang="yaml">
  meta:
    layout: centered
  </route>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

const router = useRouter();
const { t } = useI18n();
</script>