<template>
  <v-container
    fluid
  >
    <v-row>
      <v-col md="12">
        <v-btn
          color="primary"
          @click="() => testRandomError()"
        >
          Random Test
        </v-btn>
        <v-btn
          color="success"
          class="ml-2"
          @click="() => testQueryParams()"
        >
          Test query params
        </v-btn>
      </v-col>
      <v-col md="12">
        <custom-value-tabs />
      </v-col>
    </v-row>
  </v-container>
</template>

<route lang="yaml">
meta:
  layout: navigable
</route>

<script setup lang="ts">
import { httpAuth } from '@/helpers/http';
import { useNotificationsStore } from '@/stores/notifications';

const notify = useNotificationsStore();

async function testRandomError() {
  try {
    const { data } = await httpAuth.get('tests/random-error');
    notify.info(JSON.stringify(data));
  } catch (e) {
    notify.error(e);
  }
}

async function testQueryParams() {
  try {
    const { data } = await httpAuth.get('tests/query-params?page=1&itemsPerPage=10&sortBy[0][key]=name&sortBy[0][order]=asc&sortBy[1][key]=description&sortBy[1][order]=asc');
    notify.info(JSON.stringify(data));
  } catch (e) {
    notify.error(e);
  }
}
</script>

