<template>
  <v-card
    theme="dark"
    class="align-center justify-center"
  >
    <v-card-title class="text-center">
      {{ app.name }}
    </v-card-title>
    <v-card-text>
      <v-card theme="light">
        <v-card-title primary-title>
          Inserisci le credenziali per accedere
        </v-card-title>
        <v-form
          ref="loginForm"
          v-model="valid"
          @submit.prevent="loginOnValidate"
        >
          <v-card-text>
            <v-text-field
              v-model="account.email"
              type="email"
              :label="t('login.email')"
              data-vv-name="email"
              :rules="[checkEmail(), checkRequired()]"
            />
            <v-text-field
              v-model="account.password"
              :type="showPassword ? 'text' : 'password'"
              :label="t('login.password')"
              data-vv-name="password"
              :rules="[checkRequired()]"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            />
            <!--<v-select
              v-model="account.domain"
              :label="t('login.domain')"
              data-vv-name="domain"
              :rules="[checkRequired()]"
              :items="domains"
            />-->
          </v-card-text>
          <v-card-actions class="align-center justify-center">
            <v-btn
              type="button"
              color="default"
              @click.prevent="test"
            >
              Test
            </v-btn>
            <v-btn
              type="submit"
              color="primary"
              :disabled="!valid"
            >
              {{ t('login.access') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-card-text>
  </v-card>
</template>

<route lang="yaml">
    meta:
      layout: centered
</route>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { http } from '@/helpers/http';
import { useAuthStore } from '@/stores/auth';
import { useAppStore } from '@/stores/app';
import { useI18n } from 'vue-i18n';
import { checkEmail, checkRequired } from '@/helpers/validation';
//import { http } from '@/helpers/http';
import { useNotificationsStore } from '@/stores/notifications';
import type { VForm } from 'vuetify/components';
import type { LoginInfo } from '@/models/user';
import { consumeRedirectionPath } from '@/helpers/localData';
const { t } = useI18n();
const auth = useAuthStore();
const app = useAppStore();
const notify = useNotificationsStore();
const router = useRouter();
const valid = ref(true);
const account: LoginInfo = {
  email: 'fabio.difrancesco@gmail.com',
  password: '12345678',
  //domain: null,
};
const showPassword = ref(false);
//const domains = ref([]);
const loginForm = ref<InstanceType<typeof VForm> | null>(null);

/*try {
  const { data } = await http.get('domains/flat');
  if (data) {
    domains.value = data.map((r: { id: unknown; name: unknown }) => {
      return { value: r.id, text: r.name };
    });
  }
} catch (e: unknown) {
  notify.error(e as string);
}*/

if (auth.isLoggedIn()) {
  try {
    await auth.logout();
  } catch (e: unknown) {
    notify.error(e as string);
  }
}

async function test() {
  try {
    const { data } = await http.get('tests/random-error');
    notify.success(data);
  } catch (e: unknown) {
    notify.error(e as string);
  }
}

async function loginOnValidate() {
  if (loginForm.value?.validate()) {
    const loginState = await auth.login(account);
    if (loginState) {
      const savedPath = consumeRedirectionPath();
      await router.push({ path: savedPath });
    } else {
      await auth.logout();
    }
  }
}
</script>
