/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.h-56-px {
    height: 56px !important;
}

.v-btn--size-default {
    min-width: 48px !important;
}