<template>
  <v-sheet
    v-if="props.labelValues && props.labelValues.labels && props.labelValues.values"
    class="v-sheet--offset mx-auto"
    color="cyan"
    elevation="6"
    max-width="calc(100%)"
  >
    <v-sparkline
      :labels="props.labelValues.labels"
      :model-value="props.labelValues.values"
      color="white"
      line-width="2"
      padding="16"
    />
  </v-sheet>
</template>

<script lang="ts" setup>
const props = defineProps({
  labelValues: { type: Object, required: true },
});
</script>