<template>
  <v-card>
    <v-tabs v-model="currentTab">
      <v-tab
        v-for="(customValue, index) in customValues"
        :key="index"
        :value="index"
      >
        {{ customValue.code }}
      </v-tab>
    </v-tabs>
    <v-tabs-window v-model="currentTab">
      <v-tabs-window-item
        v-for="(customValue, index) in customValues"
        :key="index"
        :value="index"
        eager
      >
        <custom-value-charts
          v-if="customValue.code"
          :code="customValue.code"
        />
      </v-tabs-window-item>
    </v-tabs-window>
  </v-card>
</template>

<script lang="ts" setup>
import { httpAuth } from '@/helpers/http';
import type { CustomValue } from '@/models/custom_value';
import { useNotificationsStore } from '@/stores/notifications';

const notify = useNotificationsStore();

const currentTab = ref(null);
const customValues: Ref<Array<CustomValue>> = ref([]);
const busy = ref(false);

loadCustomValues();

async function loadCustomValues() {
  if (busy.value) return;

  busy.value = true;
  try {
    const { data } = await httpAuth.get("custom-values/all");
    if (data) {
      customValues.value = data;
    }
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}
</script>