<template>
  <v-card>
    <v-toolbar
      v-if="schema && items"
      color="primary"
      dark
    >
      <v-toolbar-title>{{ props.code }}</v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-row>
        <v-col
          v-for="schemaValue in schema"
          :key="schemaValue.name"
          md="6"
        >
          <v-card>
            <v-card-title>{{ schemaValue.name }}</v-card-title>
            <v-card-text>
              <custom-value-chart
                v-if="schemaValue.type === ValueTypes.Number"
                :label-values="labelValues.get(schemaValue.name)"
              />
              <span v-else>
                No graph type
              </span>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts" setup>
import { httpAuth } from '@/helpers/http';
import { ValueTypes, type ItemValue, type LabelValues, type SchemaValue } from '@/models/custom_value';
import { useNotificationsStore } from '@/stores/notifications';

const props = defineProps({
  code: { type: String, required: true },
});

const notify = useNotificationsStore();

const busy: Ref<boolean> = ref(false);
const schema: Ref<Array<SchemaValue>> = ref([]);
const items: Ref<Array<ItemValue>> = ref([]);
const labelValues: Ref<Map<string, LabelValues>> = ref(new Map<string, LabelValues>());

watch(() => props.code, async (value, oldValue) => {
  if (value && value != oldValue) {
    await loadSchema(value);
    await loadItems(value);
    processItemsToLabelValues();
  }
}, { immediate: true });

async function loadSchema(code: string) {
  if (busy.value) return;

  busy.value = true;

  try {
    const { data } = await httpAuth.get("custom-values/" + code + "/schema");
    if (data) {
      schema.value = data.filter(s => s.type === ValueTypes.Number);
    }
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}

async function loadItems(code: string) {
  if (busy.value) return;
  
  busy.value = true;
  
  try {
    const { data } = await httpAuth.get("custom-values/" + code + "/items");
    if (data) {
      items.value = data;
    }
  } catch (e) {
    notify.error(e);
  }
  
  busy.value = false;
}

function processItemsToLabelValues() {
  labelValues.value.clear();
  for (const s of schema.value) {
    if (s.type === ValueTypes.Number) {
      const values = items.value.map(i => i[s.name]);
      const labels = [];
      for (const index in values) {
        labels.push(index);
      }
      labelValues.value.set(s.name, { labels, values });
    }
  }
}
</script>