<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>{{ t("roles.new.title") }}</v-toolbar-title>
    </v-toolbar>
    <progress-bar :show="busy" />
    <v-form
      ref="newForm"
      v-model="valid"
      @submit.prevent="save"
    >
      <v-container fluid>
        <v-row>
          <v-col md="4">
            <v-text-field
              v-model="item.name"
              data-vv-name="name"
              :label="t('roles.name')"
              :rules="[checkRequired(), checkMaxLength(64)]"
            />
          </v-col>
          <v-col md="8">
            <v-textarea
              v-model="item.description"
              data-vv-name="description"
              :label="t('roles.description')"
              :rules="[checkMaxLength(128)]"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col
            v-for="permission in permissions"
            :key="permission.id ?? undefined"
            cols="12"
            lg="3"
            md="4"
            sm="6"
          >
            <v-card>
              <v-card-title>
                <v-switch
                  v-model="item.permissions"
                  :label="permission.name ?? undefined"
                  :value="permission.id"
                  color="primary"
                />
              </v-card-title>
              <v-card-text>{{ permission.description }}</v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <form-actions
          :valid="valid"
          :disabled="!valid || busy"
        />
      </v-container>
    </v-form>
  </v-card>
</template>

<route lang="yaml">
  meta:
    layout: navigable
  </route>

<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { httpAuth } from '../../helpers/http';
import { useNotificationsStore } from '../../stores/notifications';
import { checkRequired, checkMaxLength } from '@/helpers/validation';
import type { RoleInfo } from '@/models/role';
import type { PermissionInfo } from '@/models/permission';

const { t } = useI18n();
const notify = useNotificationsStore();
const router = useRouter();

const busy = ref(false);
const valid = ref(true);
const item: Ref<RoleInfo> = ref({
  id: null,
  name: null,
  description: null,
  permissions: []
});
const permissions: Ref<Array<PermissionInfo>> = ref([]);

try {
  const { data } = await httpAuth.get("permissions/all");
  if (data) {
    permissions.value = data;
  }
} catch (e: unknown) {
  notify.error(e);
}

const newForm = ref<InstanceType<typeof VForm> | null>(null);

async function save() {
  if (busy.value || !newForm.value?.validate()) {
    return;
  }

  busy.value = true;

  try {
    const { data } = await httpAuth.post("roles/create", item.value);
    if (data) {
      item.value = data;
      notify.success(t("common.itemSuccessfullySaved"));
      router.push('/roles');
    }
  } catch (e: unknown) {
    notify.error(e);
  }

  busy.value = false;
}
</script>
