<template>
  <v-main>
    <v-container
      fluid
      class="pa-3"
    >
      <v-row
        class="h-screen d-flex justify-center align-center"
      >
        <v-col
          class="d-flex justify-center align-center"
          cols="12"
          xl="3"
          lg="4"
        >
          <Suspense>
            <router-view />
          </Suspense>
        </v-col>
      </v-row>
      <notifier />
    </v-container>
  </v-main>
</template>

<script setup lang="ts">
</script>
