<template>
  <v-layout>
    <v-app-bar
      color="success"
      prominent
    >
      <v-app-bar-nav-icon
        variant="text"
        @click.stop="drawer = !drawer"
      />
      <v-app-bar-title>{{ app.name }}</v-app-bar-title>
      <v-spacer />
      <template v-if="$vuetify.display.mdAndUp">
        <link-button
          icon="mdi-exit-to-app"
          route-name="/login"
          tip="Logout"
        />
      </template>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      :rail="rail"
    >
      <nav-menu :items="menuItems" />
    </v-navigation-drawer>
    <v-main>
      <v-container fluid>
        <Suspense>
          <router-view />
        </Suspense>
      </v-container>
      <page-footer />
      <notifier />
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
import { httpAuth } from '@/helpers/http';
import type { MenuItem } from '@/models/nav';
import type { UserInfo } from '@/models/user';
import { useAppStore } from '@/stores/app';
import { useAuthStore } from '@/stores/auth';
import { useNotificationsStore } from '@/stores/notifications';
import { useI18n } from 'vue-i18n';
const { t } = useI18n();
const app = useAppStore();
const auth = useAuthStore();
const notify = useNotificationsStore();
const drawer = ref(true);
const rail = ref(false);

async function reloadUserProfile() {
  try {
    const { data } = await httpAuth.get('users/profile');
    if (data) {
        auth.loginConfirmed(data as UserInfo);
    } else {
      throw "Empty user profile retrieved";
    }
  } catch(e: unknown) {
    notify.error(e);
    console.error(JSON.stringify(e));
  }
}
reloadUserProfile();

const menuItems = ref<Array<MenuItem>>([
  {
    icon: 'mdi-view-dashboard',
    text: t('common.dashboard'),
    to: '/',
  },
]);

const children: Array<MenuItem> = [];

// User settings
if (auth.can('USER_READ')) {
  children.push({
    icon: 'mdi-account-group',
    text: t('users.list.title'),
    to: '/users',
  });
}
if (auth.can('ROLE_READ')) {
  children.push({
    icon: 'mdi-account-multiple-plus',
    text: t('roles.list.title'),
    to: '/roles',
  });
}
if (auth.can('PERMISSION_READ')) {
  children.push({
    icon: 'mdi-check-all',
    text: t('permissions.list.title'),
    to: '/permissions',
  });
}
if (auth.can('CUSTOM_VALUE_READ')) {
  children.push({
    icon: 'mdi-group',
    text: t('custom_values.list.title'),
    to: '/custom-values',
  });
}
if (children.length > 0) {
  menuItems.value.push({
    icon: 'mdi-account-cog',
    text: t('common.settings'),
    children: children,
  });
}
</script>
