<script>
import { useAppStore } from "@/modules/app";

const appStore = useAppStore()

const hamburger = ref(appStore.hamburger)
const layout = ref(appStore.layout)


</script>

<template lang="tsx">
    <div id="v-tool-header" class="h-50px relative px-0 flex items-center justify-between">
        <div class="h-full flex items-center">
            { hamburger.value && layout.value !== 'cutMenu' ? (
                <Collapse class= "custom-hover" color = "var(--top-header-text-color)" > </Collapse>
            ) : undefined }
            {breadcrumb.value ? <Breadcrumb class="<md:hidden"></Breadcrumb> : undefined}
        </div>
        <div class="h-full flex items-center">
            {screenfull.value ? (
            <Screenfull class="custom-hover" color="var(--top-header-text-color)"></Screenfull>
            ) : undefined}
            {size.value ? (
            <SizeDropdown class="custom-hover" color="var(--top-header-text-color)"></SizeDropdown>
            ) : undefined}
            {locale.value ? (
            <LocaleDropdown class="custom-hover" color="var(--top-header-text-color)"></LocaleDropdown>
            ) : undefined}
            <UserInfo></UserInfo>
        </div>
    </div>
</template>