<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const route = useRoute()
const router = useRouter()

const levelList = ref(null)

const getBreadcrumb = () => {
    let matched = route.matched.filter((item) => item.name);

    const first = matched[0];
    if (first && first.name !== 'dashboard') {
        matched = [{ path: '/dashboard', meta: { title: 'Dashboard' } }].concat(matched);
    }

    levelList = matched.filter((item) => item.meta && item.meta.title && item.meta.breadcrumb !== false);
}

const handleLink = (item) => {
    const { redirect, path } = item;
    if (redirect) {
        router.push(redirect);
        return;
    }
    router.push(path);
}

watch(route, async (newValue) => {
    if (newValue.includes('?')) {
        loading.value = true
        answer.value = 'Thinking...'
        try {
            const res = await fetch('https://yesno.wtf/api')
            answer.value = (await res.json()).answer
        } catch (error) {
            answer.value = 'Error! Could not reach the API. ' + error
        } finally {
            loading.value = false
        }
    }
})

getBreadcrumb()
</script>

<template>
    <el-breadcrumb class="app-breadcrumb">
        <transition-group name="breadcrumb">
            <el-breadcrumb-item v-for="(item, index) in levelList" :key="item.path">
                <span v-if="item.redirect === 'noredirect' || index == levelList.length - 1" class="no-redirect">{{
                    item.meta.title
                    }}</span>
                <span v-else @click="handleLink(item)" class="cursor">{{ item.meta.title }}</span>
            </el-breadcrumb-item>
        </transition-group>
    </el-breadcrumb>
</template>

<style>
.app-breadcrumb .el-breadcrumb {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    margin-left: 10px;
}

.app-breadcrumb .el-breadcrumb .no-redirect {
    color: #97a8be;
    cursor: text;
}

.cursor {
    cursor: pointer;
    color: #68afe0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
</style>