<template>
  <v-menu v-model="displayMenu">
    <pre>{{ JSON.stringify(model) }} {{ JSON.stringify(formattedDate) }}</pre>
    <template #activator="{ props }">
      <v-text-field
        v-bind="props"
        v-model="formattedDate"
        :class="customClass"
        :density="density"
        :label="label"
        :rules="rules"
        :variant="variant"
        hide-details="auto"
        prepend-inner-icon="mdi-calendar"
        readonly
        @click:clear="model = null"
      />
    </template>
    <div class="position-relative">
      <v-date-picker
        v-model="model"
        :color="color"
        :width="xs ? width - 30 : 'auto'"
        height="auto"
        show-adjacent-months
        title=""
        @update:model-value="onUpdateModel"
      />
      <v-btn
        class="position-absolute top-0 right-0"
        color="white"
        icon="mdi-close"
        size="small"
        variant="text"
        @click="displayMenu = false"
      />
    </div>
  </v-menu>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { useDisplay } from "vuetify";
import { formatDateFromTo } from '@/helpers/datetime';

const model = defineModel();
const emit = defineEmits(['input', 'changed']);
const internalFormat = "YYYY-MM-DD";
const displayedFormat = "DD/MM/YYYY";
const displayMenu = ref(false);
const { width, height, xs } = useDisplay();

const { label, color, customClass, rules, variant, density } = defineProps({
  label: { type: String, required: false, default: "" },
  color: { type: String, required: false, default: "primary" },
  customClass: { type: String, required: false, default: undefined },
  rules: { type: Array, required: false, default: undefined },
  variant: { type: String, required: false, default: undefined },
  density: { type: String, required: false, default: undefined },
});
const formattedDate = ref(formatDateFromTo(model.value, internalFormat, displayedFormat))

function onUpdateModel(value) {
  const formattedDate = formatDateFromTo(
    value,
    internalFormat,
    displayedFormat
  );
  emit("input", formattedDate);
  emit("changed");
  alert(formattedDate)
}
</script>