<template>
  <v-dialog
    v-model="showDialog"
    max-width="640"
  >
    <template #activator="{ props: activatorProps }">
      <v-btn
        :class="parentProps.class"
        v-bind="activatorProps"
        :color="parentProps.color"
        dark
        :prepend-icon="parentProps.icon"
        class="pr-1"
      >
        <v-tooltip
          activator="parent"
          location="top"
        >
          {{ parentProps.tip ? parentProps.tip : t('common.delete') }}
        </v-tooltip>
      </v-btn>
    </template>
    <template #default="{ isActive }">
      <v-card>
        <v-card-title
          class="headline red lighten-2"
          primary-title
        >
          {{
            parentProps.title
          }}
        </v-card-title>
        <v-divider />
        <v-card-text class="mt-6">
          {{ parentProps.message }}
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="default"
            @click="isActive.value = false"
          >
            {{
              t("common.cancel")
            }}
          </v-btn>
          <v-btn
            color="primary"
            :disabled="busy || disabled"
            @click="deleteItem"
          >
            {{
              t("common.ok")
            }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { httpAuth } from '@/helpers/http';

const { t } = useI18n();
const parentProps = defineProps({
  title: { type: String, required: true },
  message: { type: String, required: true },
  action: { type: String, required: false, default: undefined },
  id: { type: String, required: false, default: undefined },
  tip: { type: String, required: false, default: undefined },
  color: { type: String, required: false, default: 'error' },
  icon: { type: String, required: false, default: 'mdi-minus' },
  disabled: { type: Boolean, required: false, default: false },
  class: { type: String, required: false, default: undefined },
});
const busy = ref(false);
const showDialog = ref(false);
const emit = defineEmits(['error', 'submit']);

async function deleteItem() {
  alert('a')
  if (busy.value) return;

  alert('b')
  busy.value = true;
  if (parentProps.action) {
    alert('action: ' + parentProps.action)
    try {
      const { data } = await httpAuth.delete(parentProps.action);
      emit('submit', data);
    } catch (e) {
      emit('error', e);
    }
  } else if (parentProps.id) {
    alert('submitting: ' + parentProps.id)
    emit('submit', parentProps.id);
  }

  busy.value = false;
  showDialog.value = false;
}
</script>