<template>
  <LinkButton
    :route-name="parentProps.action"
    color="success"
    :tip="parentProps.tip ? parentProps.tip : t('common.edit')"
    :disabled="parentProps.disabled"
    icon="mdi-pencil"
  />
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const parentProps = defineProps({
  action: { type: String, required: true },
  tip: { type: String, required: false, default: undefined },
  disabled: { type: Boolean, required: false },
});
</script>
