<template>
  <v-card-actions>
    <v-spacer />
    <v-btn
      type="button"
      :dark="true"
      :light="false"
      :color="parentProps.backBtnColor ? parentProps.backBtnColor : undefined"
      @click.prevent="cancel"
    >
      {{ parentProps.backBtnText ? parentProps.backBtnText : t("common.cancel") }}
    </v-btn>
    <v-btn
      color="success"
      type="submit"
      :dark="true"
      :light="false"
      :disabled="disabled || !valid"
      prepend-icon="mdi-check"
    >
      {{ t("common.save") }}
    </v-btn>
  </v-card-actions>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const router = useRouter();
const parentProps = defineProps({
  disabled: { type: Boolean, required: false, default: false },
  valid: { type: Boolean, required: false, default: false },
  backBtnColor: { type: String, required: false, default: undefined },
  backBtnText: { type: String, required: false, default: undefined },
  onCancel: { type: Function, required: false, default: undefined },
});

function cancel() {
  if (parentProps.onCancel) {
    parentProps.onCancel();
  } else {
    router.go(-1);
  }
}
</script>