<template>
  <v-btn
    :fab="parentProps.fab"
    :block="parentProps.block"
    :tile="parentProps.tile"
    :small="parentProps.small"
    :color="parentProps.color"
    :rounded="parentProps.rounded"
    :density="parentProps.density"
    :size="parentProps.size"
    :dark="parentProps.dark"
    :light="parentProps.light"
    :disabled="parentProps.disabled"
    :to="parentProps.routeName"
    :prepend-icon="parentProps.icon"
    class="pr-1"
  >
    <v-tooltip
      activator="parent"
      location="top"
    >
      {{ parentProps.tip ? parentProps.tip : t('common.details') }}
    </v-tooltip>
    {{ parentProps.text }}
  </v-btn>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const parentProps = defineProps({
  routeName: { type: String, required: true },
  text: { type: String, required: false, default: undefined },
  tip: { type: String, required: false, default: undefined },
  color: { type: String, required: false, default: undefined },
  icon: { type: String, required: false, default: 'mdi-check' },
  disabled: { type: Boolean, required: false, default: false },
  rounded: { type: String, required: false, default: undefined },
  dark: { type: Boolean, required: false, default: true },
  light: { type: Boolean, required: false, default: false },
  fab: { type: Boolean, required: false, default: false },
  tile: { type: Boolean, required: false, default: false },
  small: { type: Boolean, required: false, default: false },
  block: { type: Boolean, required: false, default: false },
  density: { type: String, required: false, default: "default" },
  size:  { type: String, required: false, default: "default" },
});
</script>

<style>
.v-btn--size-default {
  min-width: 48px !important;
}
</style>
