<template>
  <v-list
    v-model:opened="openListGroup"
    density="compact"
    nav
  >
    <template v-for="(item, k1) in parentProps.items">
      <v-list-group
        v-if="item.children?.length"
        :key="'lg' + k1"
        :value="item.text"
      >
        <template #activator="{ props }">
          <v-list-item
            v-bind="props"
            :title="item.text"
            :prepend-icon="item.icon"
          />
        </template>
        <v-list-item
          v-for="(child, k2) in item.children"
          :key="'li' + k1 + 'ch' + k2"
          :to="child.to"
          :exact="true"
          :prepend-icon="child.icon"
          :title="child.text"
          :value="child.text"
        />
      </v-list-group>
      <v-list-item
        v-else
        :key="'li' + k1"
        :to="item.to"
        :exact="true"
        :prepend-icon="item.icon"
        :title="item.text"
        :value="item.text"
      />
    </template>
  </v-list>
</template>

<script setup lang="ts">
import type { MenuItem } from '@/models/nav';

const parentProps = defineProps({
  items: { type: Array<MenuItem>, required: false, default: () => [] },
});

const openListGroup = ref(null);
</script>
