<template>
  <LinkButton
    :route-name="parentProps.action"
    :params="parentProps.params"
    :tip="parentProps.tip ? parentProps.tip : t('common.new')"
    :disabled="parentProps.disabled"
    icon="mdi-plus"
    class="mr-4"
  />
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const parentProps = defineProps({
  action: { type: String, required: true },
  params: { type: Object, required: false, default: undefined },
  tip: { type: String, required: false, default: undefined },
  disabled: { type: Boolean, required: false, default: false },
});
</script>
