<template>
  <div class="text-center">
    <v-snackbar
      v-model="notify.show"
      :color="notify.type"
      :timeout="notify.timeout"
      location="top center"
      :multi-line="true"
    >
      {{ notify.text }}
      <template #actions>
        <v-btn
          variant="text"
          @click="close"
        >
          {{ t('common.close') }}
        </v-btn>
      </template> 
    </v-snackbar>
  </div>
</template>

<script setup lang="ts">
import { useNotificationsStore } from '@/stores/notifications';
import { useI18n } from 'vue-i18n';

const notify = useNotificationsStore();
const { t } = useI18n();

function close() {
  notify.clear();
}
</script>
