<template>
  <v-footer padless>
    <v-layout justify-center wrap>
      <strong>&copy; {{ currentDate.getFullYear() }} — {{ appStore.name }}</strong>
    </v-layout>
  </v-footer>
</template>

<script setup lang="ts">
import { useAppStore } from '@/stores/app';

const appStore = useAppStore();
const currentDate = new Date();
</script>
