<template>
  <v-progress-linear
    v-if="props.show"
    :value="value"
    :indeterminate="props.indeterminate"
    :color="props.color"
    :height="props.height"    
  />
</template>

<script setup lang="ts">
const props = defineProps({
  show: { type: Boolean, required: true },
  color: { type: String, required: false, default: "accent"},
  indeterminate: { type: Boolean, required: false, default: false },
  height: { type: Number, required: false, default: 4 },
  value: { type: Number, required: false, default: undefined },
})
</script>
