<template>
  <div>
    <div
      v-if="props.type == 'textarea'"
      :class="'v-input v-input--horizontal v-theme--light v-locale--is-ltr v-textarea v-text-field' + (dense ? ' v-input--density-compact' : ' v-input--density-default')"
    >
      <div class="v-input__control">
        <div class="v-field v-field--variant-filled v-theme--light v-locale--is-ltr">
          <div class="v-field__field">
            <label class="v-label v-field-label">{{ label }}</label>
            <textarea
              class="v-field__input"
              :rows="props.rows"
              :cols="props.cols"
              :value="value"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      :class="'v-input v-input--horizontal v-input--center-affix v-theme--light v-locale--is-ltr v-input--dirty v-text-field' + (dense ? ' v-input--density-compact' : ' v-input--density-default')"
    >
      <div class="v-input__control">
        <div class="v-field v-field--center-affix v-field--variant-filled v-theme--light v-locale--is-ltr">
          <div class="v-field__field" />  
          <label
            class="v-label v-field-label v-field-label--floating"
          >{{ label }}</label>
          <input
            class="v-field__input"
            :type="type"
            :value="value"
            readonly
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  label: {
    type: String,
    required: true
  },
  type: {
    type: String,
    required: false,
    default: "text"
  },
  value: {
    type: String,
    required: false,
    default: null
  },
  dense: {
    type: Boolean,
    required: false,
    default: true
  },
  rows:  {
    type: Number,
    required: false,
    default: undefined
  },
  cols:  {
    type: Number,
    required: false,
    default: undefined
  },
});
</script>
