<template>
  <v-btn
    :type="parentProps.type"
    :disabled="parentProps.disabled"
    :prepend-icon="parentProps.icon"
    class="h-56-px w-100"
  >
    <v-tooltip
      activator="parent"
      location="top"
    >
      {{ t('common.search') }}
    </v-tooltip>
  </v-btn>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
const { t } = useI18n();

const parentProps = defineProps({
  type: { type: String, required: false, default: "submit" },
  disabled: { type: Boolean, required: false, default: false },
  icon: { type: String, required: false, default: "mdi-table-search" }
});
</script>