<template>
  <v-app-bar
    color="grey lighten-3"
    clipped-left
    app
  >
    <v-app-bar-nav-icon @click.stop="toggleDrawer" />
    <v-toolbar-title>{{ app.name }}</v-toolbar-title>
    <v-spacer />
    <v-btn
      dark
      color="grey"
      :to="'/users/profile'"
      class="text-capitalize"
    >
      <v-avatar
        tile
        size="36"
      >
        <v-icon>mdi-account</v-icon>
      </v-avatar>
      {{ auth.user ? auth.user.email : null }}
    </v-btn>
    <v-btn
      icon
      @click.prevent="logout"
    >
      <v-icon>mdi-exit-to-app</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useAuthStore } from '@/stores/auth';
import { useAppStore } from '@/stores/app';

const auth = useAuthStore();
const app = useAppStore();
const emit = defineEmits(['toggleDrawer']);
const router = useRouter();

function toggleDrawer() {
  emit('toggleDrawer');
}

async function logout() {
  await auth.logout();
  // Redirect to login
  if (router.currentRoute.value.path !== '/login') {
    await router.push({ name: '/login' });
  }
}
</script>
