<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>{{ t('permissions.list.title') }}</v-toolbar-title>
      <v-spacer />
      <new-button
        v-if="auth.can('PERMISSION_WRITE')"
        action="/permissions/new"
      />
    </v-toolbar>
    <v-form
      ref="searchForm"
      v-model="valid"
      @submit.prevent="applyFilter"
    >
      <v-container fluid>
        <v-row>
          <v-col md="10">
            <v-text-field
              v-model="search.nameOrDescription"
              :label="t('permissions.nameOrDescription')"
              data-vv-name="nameOrDescription"
              :rules="[checkMaxLength(255)]"
            />
          </v-col>
          <v-col md="2">
            <search-button :disabled="busy || !valid" />
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-divider />
    <v-container fluid>
      <v-data-table-server
        v-model:options="tableOptions"
        class="elevation-1"
        density="compact"
        :headers="headers"
        :items="items"
        :items-length="totalItems"
        :loading="busy"
        @update:options="loadItems"
      >
        <template #[`item.actions`]="{ item }">
          <edit-button
            v-if="auth.can('PERMISSION_WRITE')"
            :action="'/permissions/' + item.id + '/edit'"
          />
          <delete-button
            v-if="auth.can('PERMISSION_DELETE')"
            class="ml-2"
            :title="t('common.deleteRecord')"
            :message="t('common.areYouSureToDelete')"
            :action="'/permissions/' + item.id"
            @submit="onDeleteSuccess"
            @error="onDeleteError"
          />
        </template>
        <template #no-data>
          <v-alert
            :value="true"
            type="warning"
          >
            {{ t('common.noItemsFound') }}
          </v-alert>
        </template>
      </v-data-table-server>
    </v-container>
  </v-card>
</template>

<route lang="yaml">
meta:
  layout: navigable
</route>

<script setup lang="ts">
import type { TableHeader, TableOptions } from '@/models/components';
import type { PermissionInfo } from '@/models/permission';
import { useAuthStore } from '@/stores/auth';
import { useI18n } from 'vue-i18n';
import { httpAuth } from '@/helpers/http';
import { useNotificationsStore } from '@/stores/notifications';
import type { VForm } from 'vuetify/components';
import { checkMaxLength } from '@/helpers/validation';

const { t } = useI18n();
const auth = useAuthStore();
const notify = useNotificationsStore();

const headers: Array<TableHeader> = [
  {
    title: t('permissions.name'),
    align: 'start',
    key: 'name',
    sortable: true,
  },
  {
    title: t('permissions.description'),
    align: 'start',
    key: 'description',
    sortable: true,
  },
];

const busy: Ref<boolean> = ref(false);
const valid: Ref<boolean> = ref(true);
const items: Ref<Array<PermissionInfo>> = ref([]);
const totalItems = ref(0);
const tableOptions: Ref<TableOptions> = ref({ page: 1, itemsPerPage: 10 });
const search = ref({
  nameOrDescription: null,
});
const searchForm = ref<InstanceType<typeof VForm> | null>(null);

if (auth.can('PERMISSION_WRITE') || auth.can('PERMISSION_DELETE')) {
  headers.push({
    title: t('common.actions'),
    sortable: false,
    key: 'actions',
  });
}

watch(tableOptions, async (newTableOptions, oldTableOptions) => {
  if (newTableOptions.page !== oldTableOptions.page) {
    loadItems();
  }
});

async function loadItems() {
  if (busy.value) return;

  busy.value = true;
  const params = { ...tableOptions?.value, ...search?.value };
  try {
    const { data } = await httpAuth.get('permissions', {
      params: params,
    });
    if (data) {
      items.value = data.items;
      if (data.totalItems < totalItems.value) {
        tableOptions.value.page = 1;
      }
      totalItems.value = data.totalItems;
    }
  } catch (e) {
    notify.error(t('common.loadingFailed'));
    console.error(JSON.stringify(e));
  }

  busy.value = false;
}

async function applyFilter() {
  const validation = await searchForm.value?.validate();
  if (validation?.valid) {
    await loadItems();
  } else {
    notify.error(t('common.foundErrorsInSearchFields'));
    console.error(JSON.stringify(validation?.errors));
  }
}

function onDeleteSuccess(/*numDeletedItems: number*/) {
  notify.success(t('common.deleteSuccess'));
  loadItems();
}

function onDeleteError() {
  notify.error(t('common.deleteFailed'));
  loadItems();
}
</script>
