<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>{{ t("permissions.new.title") }}</v-toolbar-title>
    </v-toolbar>
    <progress-bar :show="busy" />
    <v-form
      ref="newForm"
      v-model="valid"
      @submit.prevent="save"
    >
      <v-container fluid>
        <v-row>
          <v-col md="4">
            <v-text-field
              v-model="item.name"
              data-vv-name="name"
              :label="t('permissions.name')"
              :rules="[checkRequired(), checkMaxLength(64)]"
            />
          </v-col>
          <v-col md="8">
            <v-textarea
              v-model="item.description"
              data-vv-name="description"
              :label="t('permissions.description')"
              :rules="[checkMaxLength(128)]"
            />
          </v-col>
        </v-row>
        <form-actions
          :valid="valid"
          :disabled="!valid || busy"
        />
      </v-container>
    </v-form>
  </v-card>
</template>

<route lang="yaml">
  meta:
    layout: navigable
  </route>

<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { httpAuth } from '../../helpers/http';
import { useNotificationsStore } from '../../stores/notifications';
import { checkRequired, checkMaxLength } from '@/helpers/validation';

const { t } = useI18n();
const notify = useNotificationsStore();
const router = useRouter();

const busy = ref(false);
const valid = ref(true);
const item = ref({
  name: null,
  description: null,
});

const newForm = ref<InstanceType<typeof VForm> | null>(null);

async function save() {
  if (busy.value || !newForm.value?.validate()) {
    return;
  }

  busy.value = true;

  try {
    const { data } = await httpAuth.post("permissions/create", item.value);
    if (data) {
      item.value = data;
      notify.success(t("common.itemSuccessfullySaved"));
      router.push('/permissions');
    }
  } catch (e: unknown) {
    notify.error(e);
  }

  busy.value = false;
}
</script>
