<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>{{ t("users.edit.title") }}</v-toolbar-title>
    </v-toolbar>
    <progress-bar :show="busy" />
    <v-form
      ref="editForm"
      v-model="valid"
      @submit.prevent="save"
    >
      <v-container fluid>
        <v-row>
          <v-col md="6">
            <v-text-field
              v-model="item.first_name"
              data-vv-name="first_name"
              :label="t('users.firstName')"
              :rules="[checkRequired(), checkMaxLength(255)]"
            />
          </v-col>
          <v-col md="6">
            <v-text-field
              v-model="item.last_name"
              data-vv-name="last_name"
              :label="t('users.lastName')"
              :rules="[checkRequired(), checkMaxLength(255)]"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col md="6">
            <v-text-field
              v-model="item.email"
              type="email"
              data-vv-name="email"
              :label="t('users.email')"
              :rules="[checkRequired(), checkEmail(), checkMaxLength(255)]"
            />
          </v-col>
          <v-col md="6">
            <v-select
              v-model="item.role"
              :label="t('users.role')"
              item-value="id"
              item-title="description"
              return-object
              :items="roles"
            />
          </v-col>
        </v-row>
        <form-actions
          :valid="valid"
          :disabled="!valid || busy"
        />
      </v-container>
    </v-form>
  </v-card>
</template>

<route lang="yaml">
  meta:
    layout: navigable
  </route>

<script setup lang="ts">
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import type { VForm } from 'vuetify/components';
import { useI18n } from 'vue-i18n';
import { httpAuth } from '../../helpers/http';
import { useNotificationsStore } from '../../stores/notifications';
import { checkRequired, checkEmail, checkMaxLength } from '@/helpers/validation';
import type { UserInfo } from '@/models/user';

const { t } = useI18n();
const notify = useNotificationsStore();
const route = useRoute();
const router = useRouter();

const busy = ref(false);
const valid = ref(true);
const item: Ref<UserInfo> = ref({
  id: null,
  first_name: null,
  last_name: null,
  email: null,
  created_at: null,
  updated_at: null,
  role: null,
});
const roles = ref([]);

const editForm = ref<InstanceType<typeof VForm> | null>(null);

try {
  const { data } = await httpAuth.get("roles/all");
  if (data) {
    roles.value = data;
  }
} catch (e) {
  notify.error(e);
}

await loadData();

async function loadData() {
  if (busy.value) return;

  busy.value = true;

  try {
    const { data } = await httpAuth.get(
      "users/" + route.params.id
    );
    if (data) {
      item.value = data;
    }
  } catch (e: unknown) {
    notify.error(e);
  }

  busy.value = false;
}

async function save() {
  if (busy.value || !editForm.value?.validate()) {
    return;
  }

  busy.value = true;

  try {
    const { data } = await httpAuth.patch(
      "users/" + route.params.id,
      item.value
    );
    if (data) {
      item.value = data;
      notify.success(t("common.itemSuccessfullySaved"));
      router.push('/users');
    }
  } catch (e: unknown) {
    notify.error(e);
  }

  busy.value = false;
}
</script>
