<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>{{ t('users.list.title') }}</v-toolbar-title>
      <v-spacer />
      <new-button
        v-if="auth.can('USER_WRITE')"
        action="/users/new"
      />
    </v-toolbar>
    <v-form
      ref="searchForm"
      v-model="valid"
      @submit.prevent="applyFilter"
    >
      <v-container fluid>
        <v-row>
          <v-col md="3">
            <v-text-field
              v-model="search.name"
              :label="t('users.name')"
              clearable
              data-vv-name="name"
              :rules="[checkMaxLength(30)]"
            />
          </v-col>
          <v-col md="3">
            <v-text-field
              v-model="search.email"
              :label="t('users.email')"
              clearable
              data-vv-name="email"
              :rules="[checkMaxLength(30)]"
            />
          </v-col>
          <v-col md="2">
            <date-picker-button
              v-model="search.from"
              :label="t('users.list.from')"
              data-vv-name="from"
            />
          </v-col>
          <v-col md="2">
            <date-picker-button
              v-model="search.to"
              :label="t('users.list.to')"
              data-vv-name="to"
            />
          </v-col>
          <v-col md="2">
            <search-button :disabled="busy || !valid" />
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-divider />
    <v-container fluid>
      <v-data-table-server
        v-model:options="tableOptions"
        class="elevation-1"
        density="compact"
        :headers="headers"
        :items="items"
        :items-length="totalItems"
        :loading="busy"
        @update:options="loadItems"
      >
        <template #[`item.numPermissions`]="{ item }">
          {{ item.role?.permissions?.length ? item.role.permissions.length : 0 }}
        </template>
        <template #[`item.actions`]="{ item }">
          <edit-button
            v-if="auth.can('USER_WRITE')"
            :action="'/users/' + item.id + '/edit'"
          />
          <delete-button
            v-if="auth.can('USER_DELETE')"
            class="ml-2"
            :title="t('common.deleteRecord')"
            :message="t('common.areYouSureToDelete')"
            :action="'/users/' + item.id"
            @submit="onDeleteSuccess"
            @error="onDeleteError"
          />
        </template>
        <template #no-data>
          <v-alert
            :value="true"
            type="warning"
          >
            {{ t('common.noItemsFound') }}
          </v-alert>
        </template>
      </v-data-table-server>
    </v-container>
  </v-card>
</template>

<route lang="yaml">
meta:
  layout: navigable
</route>

<script setup lang="ts">
import type { TableHeader, TableOptions } from '@/models/components';
import { useAuthStore } from '@/stores/auth';
import { useI18n } from 'vue-i18n';
import { httpAuth } from '@/helpers/http';
import { useNotificationsStore } from '@/stores/notifications';
import type { VForm } from 'vuetify/components';
import { checkMaxLength } from '@/helpers/validation';
import type { UserInfo } from '@/models/user';

const { t } = useI18n();
const auth = useAuthStore();
const notify = useNotificationsStore();

const headers: Array<TableHeader> = [
  {
    title: t('users.firstName'),
    align: 'start',
    key: 'first_name',
    sortable: true,
  },
  {
    title: t('users.lastName'),
    align: 'start',
    key: 'last_name',
    sortable: true,
  },
  {
    title: t('users.email'),
    align: 'start',
    key: 'email',
    sortable: true,
  },
  {
    title: t('users.numPermissions'),
    align: 'start',
    key: 'numPermissions',
    sortable: false,
  },
];

const busy: Ref<boolean> = ref(false);
const valid = ref(true);
const items: Ref<Array<UserInfo>> = ref([]);
const totalItems = ref(0);
const tableOptions: Ref<TableOptions> = ref({ page: 1, itemsPerPage: 10 });
const search = ref({
  name: null,
  email: null,
  from: null,
  to: null,
});

const searchForm = ref<InstanceType<typeof VForm> | null>(null);

if (auth.can('USER_WRITE') || auth.can('USER_DELETE')) {
  headers.push({
    title: t('common.actions'),
    sortable: false,
    key: 'actions',
  });
}

watch(tableOptions, async (newTableOptions, oldTableOptions) => {
  if (newTableOptions.page !== oldTableOptions.page) {
    loadItems();
  }
});

async function loadItems() {
  if (busy.value) return;

  busy.value = true;
  const params = { ...tableOptions?.value, ...search?.value };
  try {
    const { data } = await httpAuth.get('users', { params: params });
    if (data) {
      items.value = data.items;
      if (data.totalItems < totalItems.value) {
        tableOptions.value.page = 1;
      }
      totalItems.value = data.totalItems;
    }
  } catch (e) {
    notify.error(t('common.loadingFailed'));
    console.error(JSON.stringify(e));
  }
  busy.value = false;
}

async function applyFilter() {
  const validation = await searchForm.value?.validate();
  if (validation?.valid) {
    await loadItems();
  } else {
    notify.error(t('common.foundErrorsInSearchFields'));
    console.error(JSON.stringify(validation?.errors));
  }
}

function onDeleteSuccess(/*numDeletedItems: number*/) {
  notify.success(t('common.deleteSuccess'));
  loadItems();
}

function onDeleteError() {
  notify.error(t('common.deleteFailed'));
  loadItems();
}
</script>
