<template>
  <v-card>
    <v-toolbar
      flat
      dense
      dark
      color="primary"
      class="mb-3"
    >
      <v-toolbar-title>
        {{
          t("users.profile.title")
        }}
      </v-toolbar-title>
    </v-toolbar>
    <progress-bar :show="busy" />
    <v-form
      ref="editForm"
      v-model="valid"
      @submit.prevent="update"
    >
      <v-container
        fluid
        class="pa-4"
      >
        <v-text-field
          v-model="item.name"
          data-vv-name="name"
          :label="t('users.profile.name')"
          :rules="[checkRequired(), checkMaxLength(30)]"
        />
        <v-text-field
          v-model="item.email"
          type="email"
          data-vv-name="email"
          :label="t('users.profile.email')"
          :rules="[checkRequired(), checkEmail(), checkMaxLength(30)]"
        />
        <v-card-actions>
          <v-spacer />
          <submit-button :label="t('common.save')" />
        </v-card-actions>
      </v-container>
    </v-form>
  </v-card>
</template>

<script setup lang="ts">
import { httpAuth } from '@/helpers/http';
import { useNotificationsStore } from '@/stores/notifications';
import { useI18n } from 'vue-i18n';
import type { VForm } from 'vuetify/components';
import { checkEmail, checkRequired, checkMaxLength } from '@/helpers/validation';

const { t } = useI18n();
const notify = useNotificationsStore();
const item = ref({
  name: null,
  email: null,
  username: null,
});
const busy = ref(false);
const valid = ref(true);

const editForm = ref<InstanceType<typeof VForm> | null>(null);

async function update() {
  const validation = await editForm.value?.validate();
  if (validation?.valid) {
    return;
  }

  busy.value = true;

  try {
    const { data } = await httpAuth.patch(
      "users/update-profile",
      item
    );
    if (data && data.id) {
      notify.success(t("common.itemSuccessfullySaved"));
      router.push({ name: ''});
    }
  } catch (e) {
    this.$store.dispatch("message/response", {
      type: "error",
      text: e,
    });
  }

  busy.value = false;
}
</script>

