<template>
  <v-card>
    <v-toolbar color="primary">
      <v-toolbar-title>
        {{ t("custom_values.items.title") }} {{ props.code }}
      </v-toolbar-title>
      <v-spacer />
      <custom-value-edit-item-dialog
        :code="code"
        :schema="schema"
        @validated="onValidatedItem"
      />
    </v-toolbar>
    <progress-bar :show="busy" />
    <v-data-table
      v-model:options="tableOptions"
      class="elevation-1"
      density="compact"
      :headers="headers"
      :items="items"
    >
      <template #[`item.actions`]="{ item }">
        <custom-value-edit-item-dialog
          :code="code"
          :schema="schema"
          :source="item"
          dense
          @validated="onValidatedItem"
        />
        <delete-button
          :id="item.code ?? undefined"
          :title="t('common.deleteRecord') + item.code"
          :message="t('common.areYouSureToDelete')"
          @submit="onDeleteItem"
        />
      </template>
      <template #no-data>
        <v-alert
          :value="true"
          type="warning"
        >
          {{ t('common.noItemsFound') }}
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>

<script setup lang="ts">
import { httpAuth } from '@/helpers/http';
import type { TableHeader, TableOptions } from '@/models/components';
import { type ItemValue, type SchemaValue } from '@/models/custom_value';
import { useNotificationsStore } from '@/stores/notifications';
import { useI18n } from 'vue-i18n';

const props = defineProps({
  code: { type: String, required: true },
});

const { t } = useI18n();
const notify = useNotificationsStore();
const emit = defineEmits(['saved', 'deleted']);

const schema: Ref<Array<SchemaValue>> = ref([]);
const items: Ref<Array<ItemValue>> = ref([]);
const busy: Ref<boolean> = ref(false);
const headers: Ref<Array<TableHeader>> = ref([]);
const tableOptions: Ref<TableOptions> = ref({ page: 1, itemsPerPage: 10 });

watch(() => props.code, async (value, oldValue) => {
  if (value && value != oldValue) {
    await loadHeaders(value);
    await loadItems(value);
  }
}, { immediate: true });

async function loadHeaders(code: string) {
  if (busy.value) return;
  
  busy.value = true;
  
  try {
    const { data } = await httpAuth.get("custom-values/" + code + "/schema");
    if (data) {
      schema.value = data;
      const schemaToHeaders = schema.value.map((r: SchemaValue) => {
        let translation: string | null = t("custom_values.items." + r.name);
        if (translation.includes("custom_values.items.")) {
          translation = r.name;
        }
        return {
          title: translation,
          align: 'start',
          key: r.name,
          sortable: false,
        };
      });
      schemaToHeaders.push({
        title: t("common.actions"),
        align: 'end',
        key: "actions",
        sortable: false,
      });

      headers.value = schemaToHeaders;
    }
  } catch (e) {
    notify.error(e);
  }
  
  busy.value = false;
}


async function loadItems(code: string) {
  if (busy.value) return;
  
  busy.value = true;
  
  try {
    const { data } = await httpAuth.get("custom-values/" + code + "/items");
    if (data) {
      items.value = data;
    }
  } catch (e) {
    notify.error(e);
  }
  
  busy.value = false;
}

async function onValidatedItem(item: any) {
  if (busy.value) return;

  busy.value = true;
  const index = items.value.findIndex(i => i.code == item.code);
  if (index >= 0) {
    items.value[index] = item;
  } else {
    items.value.push(item);
  }
  
  try {
    await httpAuth.patch(
      "custom-values/" + props.code + "/update-items",
      items.value
    );
    notify.success(t("common.itemSuccessfullySaved"));
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}

async function onDeleteItem(itemCode: string) {
  if (busy.value) return;

  busy.value = true;
  items.value = items.value.filter((i) => i.code !== itemCode);
  try {
    await httpAuth.patch(
      "custom-values/" + props.code + "/update-items",
      items.value
    );
    notify.success(t("common.itemSuccessfullyDeleted"));
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}
</script>
