<template>
  <v-card>
    <v-toolbar color="primary">
      <v-toolbar-title>
        {{ t("custom_values.schema.title") }} {{ props.code }}
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        prepend-icon="mdi-plus"
        class="pr-2"
        @click="addNewProperty"
      >
        <v-tooltip
          activator="parent"
          location="top"
        >
          {{ t("custom_values.schema.newProperty") }}
        </v-tooltip>
      </v-btn>
    </v-toolbar>
    <progress-bar :show="busy" />
    <v-form
      ref="schemaForm"
      v-model="valid"
      @submit.prevent="save"
    >
      <v-container fluid>
        <v-row>
          <v-col
            v-for="(property, i) in schema"
            :key="i"
            md="6"
          >
            <v-card class="mb-1 pa-2">
              <v-row>
                <v-col md="5">
                  <v-text-field
                    v-model="property.name"
                    data-vv-name="name"
                    :label="t('custom_values.schema.propertyName', [i + 1])"
                    :rules="[checkRequired(), checkMaxLength(32)]"
                    :readonly="checkRequiredProperty(property)"
                    @change="() => (dirty = true)"
                  />
                </v-col>
                <v-col md="4">
                  <v-select
                    v-model="property.type"
                    data-vv-name="type"
                    :label="t('custom_values.schema.propertyType', [i + 1])"
                    :rules="[checkRequired()]"
                    :readonly="checkRequiredProperty(property)"
                    :items="valueTypes"
                    @change="() => (dirty = true)"
                  />
                </v-col>
                <v-col
                  v-if="!checkRequiredProperty(property)"
                  md="3"
                >
                  <custom-value-delete-schema-property-button
                    :index="i"
                    :on-action-completed="deleteProperty"
                  />
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
        <form-actions
          :valid="valid"
          :disabled="!dirty"
        />
      </v-container>
    </v-form>
  </v-card>
</template>

<script setup lang="ts">
import { httpAuth } from '@/helpers/http';
import { useI18n } from 'vue-i18n';
import { checkRequired, checkMaxLength } from '@/helpers/validation';
import { useNotificationsStore } from '@/stores/notifications';
import type { VForm } from 'vuetify/components';
import { ValueTypes, type NewSchemaValue } from '@/models/custom_value';

const props = defineProps({
  code: { type: String, required: true }
});

const { t } = useI18n();
const notify = useNotificationsStore();
const emit = defineEmits(['updated']);

const busy: Ref<boolean> = ref(false);

watch(() => props.code, async (value, oldValue) => {
  if (value && value != oldValue) {
    await loadSchema(value);
  }
}, { immediate: true });

const schemaForm = ref<InstanceType<typeof VForm> | null>(null);
const schema: Ref<Array<NewSchemaValue>> = ref([]);
const valid = ref(false);
const dirty = ref(false);

const valueTypes = Object.keys(ValueTypes).map((key: string) => {
  const value = ValueTypes[key];
  return { value: value, title: t('custom_values.types.' + value) };
});

function addNewProperty() {
  schema.value.push({ name: null, type: "TEXT" });
  dirty.value = true;
}

function deleteProperty(i: number) {
  schema.value.splice(i, 1);
  dirty.value = true;
}

function checkRequiredProperty(prop: NewSchemaValue) {
  if (prop.name) {
    switch (prop.name) {
      case "code":
      case "description":
      case "isActive": {
        return true;
      }
      default:
        break;
    }
  }

  return false;
}

async function loadSchema(code: string) {
  if (busy.value) return;

  busy.value = true;

  try {
    const { data } = await httpAuth.get("custom-values/" + code + "/schema");
    if (data) {
      schema.value = data;
    }
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}

async function save() {
  if (busy.value || !dirty.value || !schemaForm.value?.validate()) return;

  busy.value = true;

  try {
    await httpAuth.patch(
      "custom-values/" + props.code + "/update-schema",
      schema.value
    );
    notify.success(t("common.itemSuccessfullySaved"));
    emit("updated");
    dirty.value = false;
  } catch (e) {
    notify.error(e);
  }

  busy.value = false;
}
</script>
