<template>
  <v-dialog
    v-model="showDialog"
    max-width="500"
  >
    <template #activator="{ props: activatorProps }">
      <v-btn
        prepend-icon="mdi-minus"
        color="error"
        size="large"
        v-bind="activatorProps"
        class="h-56-px pr-2"
      >
        <v-tooltip
          activator="parent"
          location="top"
        >
          {{ t("common.delete") }}
        </v-tooltip>
      </v-btn>
    </template>
    <template #default="{ isActive }">
      <v-card>
        <v-card-title
          class="headline red lighten-2"
          primary-title
        >
          {{
            t("common.deleteRecord")
          }}
        </v-card-title>
        <v-card-text>{{ t("common.areYouSureToDelete") }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="default"
            @click="isActive.value = false"
          >
            {{
              t("common.cancel")
            }}
          </v-btn>
          <v-btn
            color="primary"
            @click="deleteItem"
          >
            {{ t('common.ok') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

const props = defineProps({
  index: { type: Number, required: true },
  onActionCompleted: { type: Function, required: true },
});

const { t } = useI18n();
const showDialog = ref(false);

function deleteItem() {
  props.onActionCompleted(props.index);
  showDialog.value = false;
}
</script>