<template>
  <v-dialog
    v-model="showDialog"
    max-width="960"
  >
    <template #activator="{ props: activatorProps }">
      <v-btn
        class="pr-2"
        :color="!props.source ? 'default' : 'success'"
        :prepend-icon="!props.source ? 'mdi-plus' : 'mdi-pencil'"
        v-bind="activatorProps"
      >
        <v-tooltip
          activator="parent"
          location="top"
        >
          {{ !props.source ? t("common.new") : t("common.edit") }}
        </v-tooltip>
      </v-btn>
    </template>
    <template #default="{ isActive }">
      <v-card>
        <v-toolbar color="primary">
          <v-toolbar-title>{{ t("custom_values.items.title") }}</v-toolbar-title>
        </v-toolbar>
        <progress-bar :show="busy" />
        <v-form
          ref="editItemForm"
          v-model="valid"
          @submit.prevent="save"
        >
          <v-container fluid>
            <v-row>
              <template v-for="(property, index) in schema">
                <v-col
                  v-if="property.type === ValueTypes.Text"
                  :key="ValueTypes.Text + '_' + index"
                  md="6"
                >
                  <v-text-field
                    v-model="model[property.name]"
                    :type="property.type"
                    :data-vv-name="property.name"
                    :label="translateName(property.name)"
                    :rules="[checkMaxLength(255)]"
                    dense
                  />
                </v-col>
                <v-col
                  v-else-if="property.type === ValueTypes.Number"
                  :key="ValueTypes.Number + '_' + index"
                  md="6"
                >
                  <v-text-field
                    v-model="model[property.name]"
                    :type="property.type"
                    :data-vv-name="property.name"
                    :label="translateName(property.name)"
                    :rules="[checkNum()]"
                    dense
                  />
                </v-col>
                <v-col
                  v-else-if="property.type === ValueTypes.Bool"
                  :key="ValueTypes.Bool + '_' + index"
                  md="6"
                >
                  <v-switch
                    v-model="model[property.name]"
                    :data-vv-name="property.name"
                    :label="translateName(property.name)"
                    :true-value="true"
                    :false-value="false"
                    dense
                  />
                </v-col>
                <v-col
                  v-else-if="property.type === ValueTypes.LargeText"
                  :key="ValueTypes.LargeText + '_' + index"
                  md="12"
                >
                  <v-textarea
                    v-model="model[property.name]"
                    :data-vv-name="property.name"
                    cols="3"
                    :label="translateName(property.name)"
                    dense
                  />
                </v-col>
              </template>
            </v-row>
            <form-actions
              :valid="valid"
              :on-back="() => isActive.value = false"
            />
          </v-container>
          <!--<pre>{{JSON.stringify(model, null, 4)}}</pre>-->
        </v-form>
      </v-card>
    </template>
  </v-dialog>
</template>

<script setup lang="ts">
import { useNotificationsStore } from '@/stores/notifications';
import { useI18n } from 'vue-i18n';
import type { VForm } from 'vuetify/components';
import { checkMaxLength, checkNum } from '@/helpers/validation';
import { ValueTypes, type SchemaValue } from '@/models/custom_value';

const props = defineProps({
  code: { type: String, required: false, default: null },
  schema: { type: Array<SchemaValue>, required: false, default: null },
  source: { type: Object, required: false, default: null },
  dense: { type: Boolean, required: false, default: false },
});

const { t } = useI18n();
const notify = useNotificationsStore();
const showDialog = ref(false);
const busy = ref(false);
const valid = ref(false);
const model: Ref<{ [key: string]: unknown }> = ref({});
const editItemForm = ref<InstanceType<typeof VForm> | null>(null);
const emit = defineEmits(['validated']);

watch(showDialog, async (value) => {
  if (value) {
    createModelBySchemaAndSource(props.schema, props.source);
  }
}, { immediate: true });

function createModelBySchemaAndSource(schema: Array<SchemaValue>, source: object) {
  if (model.value) {
    for (const prop of schema) {
      if (source && source.hasOwnProperty(prop.name)) {
        model.value[prop.name] = source[prop.name];
      } else {
        if (prop.name === "isActive") {
          model.value[prop.name] = true;
        } else {
          model.value[prop.name] = null;
        }
      }
    }
  }
}

function translateName(key: string) {
  let translation = t("custom_values.items." + key);
  if (translation.includes("custom_values.items.")) {
    translation = key;
  }

  return translation;
}

async function save() {
  if (busy.value || !editItemForm.value?.validate()) {
    return;
  }

  busy.value = true;
  
  try {
    emit("validated", model.value);
    showDialog.value = false;
  } catch (e: unknown) {
    notify.error(e);
  }

  busy.value = false;
}
</script>